<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="cucumber.eclipse.java.launching.localCucumberFeature">
    <stringAttribute key="cucumber feature" value="src/test/resources/features/Login.feature"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SeleniumCucumberTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dcucumber.publish.quiet=true"/>
    <stringAttribute key="org.eclipse.unittest.ui.TEST_VIEW_SUPPPORT" value="io.cucumber.eclipse.editor.testresults"/>
</launchConfiguration>
